@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Red Hat Text', sans-serif;
}

.flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0);

    color: hsl(345, 95%, 68%);
    font-size: 8rem;

    width: 100%;
    height: auto;
}

.top,
.bottom{
    height: .75em;
    line-height: 1;
    padding: .5em;
    overflow: hidden;
}

.top,
.top-flip {
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;

    background-color: hsl(235, 18%, 19%);
    border-bottom: 1px solid hsl(236, 21%, 26%);
}

.bottom,
.bottom-flip {
    display: flex;
    align-items: flex-end;

    border-top-left-radius: -.1em;
    border-top-right-radius: -.1em;

    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .1em;

    background-color: hsl(236, 21%, 26%);
}

.bottom::before {
    border-radius: 50%;
    background-color: hsl(234, 17%, 12%);

    width: 2%;
    height: 2%;

    position: absolute;
    top: 0;
    left: 0;

    content: '';
}

.top-flip {
    line-height: 1;
    padding: .5em;
    position: absolute;
    content: attr(data-current-number);
    height: 50%;
    width: 100%;
    overflow: hidden;

    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

.bottom-flip {
    line-height: 1;
    padding: .5em;
    position: absolute;
    content: attr(data-next-number);
    height: 50%;
    width: 100%;
    overflow: hidden;
    bottom: 0;

    animation: flip-bottom 250ms ease-in-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

.bottom,
.bottom-flip,
.top,
.top-flip {
    user-select: none;
}

.svg {
    position: absolute;
    top: 0;
    opacity: 0%;
    filter: invert(53%) sepia(25%) saturate(3716%) hue-rotate(312deg) brightness(103%) contrast(97%);

    transition: all .2s;
}

.svg:hover {
    cursor: pointer;
    opacity: 100%;
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 768px) {
    .flip-card {
        font-size: 3em;
    }

    .bottom,
    .bottom-flip,
    .top,
    .top-flip {
        padding: .1em .15em .1em .15em;
        line-height: 1.3;
    }
}

@media screen and (max-width: 768px) {
    .flip-card {
        font-size: 3em;
    }

    .bottom,
    .bottom-flip,
    .top,
    .top-flip {
        padding: .1em .1em .1em .2em;
        line-height: 1.3;
    }
}

@media (min-width: 769) and (max-width: 1439px) {
    .flip-card {
        font-size: 6em;
    }

    .bottom,
    .bottom-flip,
    .top,
    .top-flip {
        padding: .25em .35em;
        line-height: 1;
    }
}